/* Font system */
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

}

/* margin et paddind a 0 par défault */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Image responsive*/
img {
    max-width: 100%;
    height: auto;
}



.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
