header h1 {
   font-size: 3em;
}

.about img {
    float: left;
    border-radius: 50%;
    shape-outside: circle();
    margin-right: 2em;
}

.about {
    display: block;
    max-width: 800px;
    margin: auto;

}

p {
    text-align:justify;!important;
}



