/* Mobile first

Le concept mobile first consiste à concevoir un site en concevant en priorité la version mobile et en adaptant progressivement celui-ci pour les écrans plus large. */
body {
    min-height: 9000px;
}
.navbar {
    position: fixed;
    width: 100%;
}
header {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
